.eshop-menu {
  font-family: 'Saira', sans-serif;
  height: 100vh;
  width: 25%;
  background: linear-gradient(0deg, rgba(0,204,246,1) 0%, rgba(83,57,244,1) 90%);
  overflow: hidden;
  box-shadow: 10px 0 10px #00000029;
}

.eshop-menu-nav {
  height: 60%;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 2rem;
  justify-content: space-around;
  margin-bottom: 3rem;
  margin-top: 6rem;
  
}


.eshop-menu-link {
  text-decoration: none;
  color: white;
  font-size: 0.8rem;
  margin-bottom: 3rem;
  &-image {
    width: 10%;
    margin-right: 0.8rem;
    vertical-align: middle;
  }
  &:last-child {
    margin-bottom: 1rem;
  }
  &:hover {
    color : #B6FE08;
    
  }

}
#home:hover {
  fill:#B6FE08 ;
}
.nav-bottom {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 2rem;
  height: 20%;
  justify-content: flex-end;
}
